<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='styles/admin.css') }}"/>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <title>Admin Dashboard</title>
  </head>
  <body class="container">
    <h1>Admin Dashboard</h1>
    <form class="form-container" action="{{ url_for('manageUser') }}" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-input" type="text" name="username" id="username" required />
      </div>

      <div class="form-group">
        <input class="form-checkbox" type="checkbox" name="deleteAcc" id="deleteAcc" />
        <label for="deleteAcc">Delete Account</label>
      </div>

      <div class="form-group">
        <input class="form-checkbox" type="checkbox" name="changeUsernameCheck" id="changeUsernameCheck" />
        <label for="changeUsername">Change Username</label>
        <input class="form-input" type="text" name="changeUsername" id="changeUsername" />
      </div>

      <div class="form-group">
        <input class="form-checkbox" type="checkbox" name="changePasswordCheck" id="changePasswordCheck" />
        <label for="changePassword">Change Password</label>
        <input class="form-input" type="text" name="changePassword" id="changePassword" />
      </div>


      <div class="form-group">
        <label> Toggle Pro Status </label>
        <input class="form-checkbox" type="checkbox" name="togglePro" id="togglePro" />
      </div>

      <div class="form-group">
        <label> Sign in as user </label>
        <input class="form-checkbox" type="checkbox" name="userSignInAs" id="userSignInAs" />
      </div>

      <input class="form-submit" type="submit" value="Done" />
    </form>

    <form class="form-container" action="{{ url_for('manageNotes') }}" method="POST">
      <div class="form-group">
        <label for="noteTitle">Note ID</label>
        <input class="form-input" type="text" name="noteId" id="noteId" required />
      </div>

      <div class="form-group">
        <input class="form-checkbox" type="checkbox" name="deleteNote" id="deleteNote" />
        <label for="deleteNote">Delete Note</label>
      </div>

      <div class="form-group">
        <input class="form-checkbox" type="checkbox" name="changeTitleCheck" id="changeTitleCheck" />
        <label for="changeTitle">Change Title</label>
        <input class="form-input" type="text" name="changeTitle" id="changeTitle" />
      </div>

      <div class="form-group">
        <input class="form-checkbox" type="checkbox" name="changeContentCheck" id="changeContentCheck" />
        <label for="changeContent">Change Content</label>
        <input class="form-input" type="text" name="changeContent" id="changeContent" />
      </div>

      <input class="form-submit" type="submit" value="Done" />

    </form>

    
    <form class="form-container" action="{{ url_for('adminDangerZone') }}" method="POST">
      <div class="form-group">
        <label for="globalBanner">Global Message</label>
        <input class="form-input" type="text" name="globalBanner" id="globalBanner" />
      </div>

      <div class="form-group">
        <input class="form-checkbox" type="checkbox" name="globalMessage" id="globalMessage" />
        <label for="globalMEssage">Add a Global Message </label>
      </div>

      <div class="form-group">
        <input class="form-checkbox" type="checkbox" name="delGlobalMessage" id="delGlobalMessage" />
        <label for="delGlobalMessage">Remove Global Message</label>
      </div>

      <input class="form-submit" type="submit" value="Done" />

    </form>
    
  </body>
</html>