<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
    <title>Noteshare - Dashboard</title>
</head>
<body>
    
    <h1>Dashboard</h1>
    <h2>Hi {{username}}</h2>
    <a href="/logout">Logout</a>
    <a href="/addNote">Add note</a>
    <a href="/publicNotes">Public Notes</a>
    <a href="/protectedNotes">Password Protected Notes</a>
    <a href="/privateNotes">Private Notes</a>

</body>
</html>