<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/dashboard.css') }}"/>
    <title>Noteshare - Dashboard</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1>Welcome, {{username}}!</h1>
        <h1>Pro status: {{userHasPro}}</h1>
        <a href="{{ url_for('purchase')}}">Buy Pro!</a>
        <div class="user-menu">
          <button class="profile-btn" onclick="location.href='/manageProfile'">Manage Profile</button>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </header>
    <main>
      <div class="sidebar">
        <h2>Dashboard</h2>
        <p>Hi {{username}}, welcome to your dashboard!</p>
        <ul>
          <li><a href="/addNote">Create a new note</a></li>
          <li><a href="/publicNotes">View public notes</a></li>
          <li><a href="{{ url_for('passwordProtectedNoteList', userID=userID)}}">View your password protected notes</a></li>
          <li><a href="{{ url_for('privateNoteList', userID=userID)}}">View your private notes</a></li>
        </ul>
      </div>
      <div class="content">
        <h2>Statistics</h2>
        <p>Total created notes: {{ total }}</p>
        <p>Created public notes: {{ public }}</p>
        <p>Created password protected notes: {{ passwordProtected }}</p>
        <p>Created private notes: {{ private }}</p>
        <footer>Note: If you make a password protected note which is private, it will count as a private note. Also, if you delete a note, it will not be removed from your count.</footer>
      </div>
    </main>
    <footer>
      <p class="user-id">User ID: {{userID}}</p>
    </footer>
  </body>
</html>
