<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/groupMembers.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Group Members</title>
    
  
</head>
<body>
    <div class="container">
        <h1>Group Members</h1>
        <ul>
            {% for member in members %}
            
                <li>
                    <a>{{ member }}</a>
                </li>
                
            {% endfor %}


        </ul>
        <div class="button-container">
            <a href="{{ url_for('logout') }}" class="button">Logout</a>
            <a href="{{ url_for('groupDashboard') }}" class="button">Group Dashboard</a>
        </div>
    </div>
</body>
</html>