<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/login.css?v=1.0.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <h3>As this website is still in testing phase, some errors may occur.</h3>
        <h3>Dear users, sadly, a development mishap has caused the hash key to be lost and thus users are no longer able to sign into their accounts. We apologize for the inconvinience and ask that all users re-create an account.</h3>
        <h3>Thank you for your understanding. And if you had a pro subscription, please contact support.</h3>
        <form action="{{ url_for('login') }}" method="POST">
          <label for="username">Username</label>
          <input type="text" id="Username" name="Username">
          <label for="password">Password</label>
          <input type="password" id="Password" name="Password">
          <button type="submit">Login</button>
        </form>
        <div class="create-account">
          <p>Don't have an account?</p>
          <a href="/register">Create one</a>
        </div>
      </div>
      
</body>
</html>