<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/manageProfile.css') }}">
    <title>Manage Profile</title>
</head>
<body>
    
    <h1>Manage Profile</h1>
    <h2>{{ message }}</h2>
    <form action="{{ url_for('editProfile') }}" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="{{ username }}" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Update">
        </div>
    </form>

    <form action="{{ url_for('deleteProfile') }}" method="POST">
        <div class="form-group">
            <input type="submit" value="Delete Profile">
        </div>
    </form>

    <form action="{{ url_for('userDeleteNote') }}" method="POST">
        <div class="form-group">
            <label for="note">Delete Note</label>
            <input type="text" name="noteID" id="noteID">
        </div>
        <div class="form-group">
            <input type="submit" value="Delete">
        </div>
    </form>

    <a href="{{ url_for('dashboard') }}">Back to dashboard</a>

</body>
</html>
