<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Private Notes</title>
</head>
<body>
    <div class="container">
        <h1>Private Notes</h1>
        <div class="button-container">
            <a href="{{ url_for('addNote') }}" class="button">Add note</a>
        </div>
        <ul>
            {% for note in notes %}
                <li>
                    <a href="{{ url_for('note', id=note._id) }}">{{ note.title }}</a>
                </li>
            {% endfor %}

            {% for note in customIdNotes %}
                <li>
                    <a href="{{ url_for('note', id=note.CustomID) }}">{{ note.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="button-container">
            <a href="{{ url_for('logout') }}" class="button">Logout</a>
            <a href="{{ url_for('dashboard') }}" class="button">Dashboard</a>
        </div>
    </div>
</body>
</html>

<!--# TODO: Make it so when you load a private note, on the note page, the back button sends the user back to the private notes page-->
