body {
    background-color: #F9F9F9;
    font-family: 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.note-card {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #D9D9D9;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.note-card label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #2A2A2A;
}

.note-card input[type="password"] {
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    box-shadow: inset 0px 0px 5px 0px #D9D9D9;
}

.note-card input[type="submit"] {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4CAF50;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.note-card input[type="submit"]:hover {
    background-color: #3E8E41;
}

.back-to-index {
    text-align: center;
    margin-top: 20px;
}

.back-to-index a {
    text-decoration: none;
    color: #2A2A2A;
}

.back-to-index footer {
    margin-top: 20px;
    font-size: 14px;
    color: #B3B3B3;
}
