* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #121212;
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    color: #fff;
  }
  
  form {
    background-color: #333;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea,
  input[type="password"] {
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: #4c4c4c;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  input[type="password"] {
    margin-left: 10px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
  }
  
  .form-group .form-checkbox {
    margin-right: 10px;
  }
  
  .form-checkbox-label {
    margin-left: 5px;
    font-size: 1rem;
  }
  
  input[type="submit"] {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4285f4;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #3d7ee7;
  }
  
  .back-to-index {
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
    color: #fff;
  }
  
  .back-to-index a {
    color: #fff;
    text-decoration: none;
  }
  
  .back-to-index a:hover {
    color: #4caf50;
  }
  
  footer {
    margin-top: 10px;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
  }
  
  input[type="password"] {
    margin-top: 10px;
  }
  